*,
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat-Regular, 'sans-serif'
}

@font-face {
    font-family: Montserrat-regular;
    /* src: url('/montserrat/Montserrat-Regular.ttf'); */
    src: url('../../local/public/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-semibold;
    /* src: url('/montserrat/Montserrat-SemiBold.ttf'); */
    src: url('../../local/public/fonts/Montserrat/static/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-bold;
    /* src: url('/montserrat/Montserrat-Bold.ttf'); */
    src: url('../../local/public/fonts/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-medium;
    /* src: url('/montserrat/Montserrat-Medium.ttf'); */
    src: url('../../local/public/fonts/Montserrat/static/Montserrat-Medium.ttf');
}

:root {
    /** Colores principales. */
    --dark-red: #701732;
    --soft-red: #9e2448;
    --middle-red: #9d2449;
    --soft-blue: #0057b8;

    --correct: #71a71e;
	--error: #da1111;

    --golden: #bc955c;

    --p: 1rem;
    --p-responsive: 0.85rem;

    --text-color: #696969;

    --disabled: #d6d6d6;

    /** Sombras */
    --box-shadow: 0px 3px 4px 3px #6b6b6b30;

    --availability-0: #43a300f1;
    --availability-1: #e1bc13;
    --availability-2: #ff9c4c;
    --availability-3: #8c2916;

    /** Tamaños */
    --radius: 5px;

}